<!DOCTYPE html>
<html>
  <head>
    <title>Effective Rate Calculator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Effective Rate Calculator</h1>
      <form action="/calculate" method="POST">
        <label for="loan_amount">Loan Amount:</label>
        <input
          type="number"
          step="any"
          id="loan_amount"
          name="loan_amount"
          required
        /><br />

        <label for="duration">Loan Duration (in months):</label>
        <input
          type="number"
          step="1"
          id="duration"
          name="duration"
          required
        /><br />

        <label for="annual_interest_rate">Annual Interest Rate (%):</label>
        <input
          type="number"
          step="any"
          id="annual_interest_rate"
          name="annual_interest_rate"
          required
        /><br />

        <label for="partner_commission_rate"
          >Partner's Commission Rate (%):</label
        >
        <input
          type="number"
          step="any"
          id="partner_commission_rate"
          name="partner_commission_rate"
          required
        /><br />

        <button type="submit">Calculate</button>
      </form>
    </div>
  </body>
</html>
